/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2016, 9:12:05 AM
    Author     : Hui Zhen
*/

.root {
    -fx-base: #373b41;
    -fx-font-family: "helvetica";
    -fx-font-size: 12pt;
    
}

.input_primary_border_pane {

}

.input_layout_vbox {
    -fx-alignment: center;
    -fx-padding: 5 10 5 10;
}

.input_button_hbox {
    -fx-alignment: center;
}


